@colorBlue: rgb(0,43,92); // #002B5C
@colorActionBlue: rgb(41,167,220); // #29a7dc
@colorInfoOrange: #FF6600;
@colorDark: #333;
@colorMedium: rgb(102,102,102); // #666666
@colorLight: rgb(204,204,204); // #cccccc
@colorSale: rgb(211,39,63); // #d3273f
@colorLink: rgb(51,102,153); // #336699
@colorError: rgb(204,0,0); //#CC0000
@colorSuccess: rgb(102,153,102); //#669966

.btn{
	border-radius: 0;
	border:none;
}
.btn-primary{
	background-color: @colorActionBlue;
}
.btn-secondary{
	background-color: @colorBlue;
}
.btn-tertiary{
	background-color: @colorMedium;
}
.btn-disabled{
	background-color: @colorLight;
}
.btn-success{
	background-color: @colorSuccess;
}
.btn-info{
	background-color: @colorMedium;
}
.btn-warning{
	background-color: @colorInfoOrange;
}
.btn-danger{
	background-color: @colorError;
}
// Extra small screen / phone
// Note: Deprecated @screen-xs and @screen-phone as of v3.0.1
@screen-xs:                  480px;
@screen-xs-min:              @screen-xs;
@screen-phone:               @screen-xs-min;

// Small screen / tablet
// Note: Deprecated @screen-sm and @screen-tablet as of v3.0.1
@screen-sm:                  768px;
@screen-sm-min:              @screen-sm;
@screen-tablet:              @screen-sm-min;

// Medium screen / desktop
// Note: Deprecated @screen-md and @screen-desktop as of v3.0.1
@screen-md:                  1024px;
@screen-md-min:              @screen-md;
@screen-desktop:             @screen-md-min;

// Large screen / wide desktop
// Note: Deprecated @screen-lg and @screen-lg-desktop as of v3.0.1
@screen-lg:                  1140px;
@screen-lg-min:              @screen-lg;
@screen-lg-desktop:          @screen-lg-min;

// So media queries don't overlap when required, provide a maximum
@screen-xs-max:              (@screen-sm-min - 1);
@screen-sm-max:              (@screen-md-min - 1);
@screen-md-max:              (@screen-lg-min - 1);